@import "tailwindcss";

:root{
    --blue: #7C3AED;
    --blue2: #8B5CF6;

    --text1: #281950;
    --text2: #1E133C;
    --text3: #FFFFFF;
    --text4: #CCCCCC;

    --background: #191034;
    --ring: rgba(59, 131, 246, 0.541);

    --margin1: 160px;
    --margin2: 120px;
    --margin3: 80px;
    --margin4: 30px;
}

/* navbar */


/* hero */


/* section 1 */
.background-grid{
    background-image: linear-gradient(to bottom, #a091c7b2,white);
}


/* section 2 */



/* section 3 */



/* section 4 */



/* section 5 */



/* section 6 */



/* section 7 */




