@import "tailwindcss";

:root{
    --blue: #7C3AED;
    --blue2: #8B5CF6;

    --text1: #281950;
    --text2: #1E133C;
    --text3: #FFFFFF;
    --text4: #CCCCCC;

    --background: #191034;
    --ring: rgba(59, 131, 246, 0.541);

    --margin1: 160px;
    --margin2: 120px;
    --margin3: 80px;
    --margin4: 30px;
}

/* style globally */

/* -- adding font family */

/* font text */
@font-face {
    font-family: 'Fricolage-Grotesque'; /* A name you choose for your font */
    src: url('./assets/font/fricolage-grotesque.woff2') format('woff2');
    font-weight: normal; /* Optional: Define font weight (e.g., normal, bold, 400, 700) */
    font-style: normal;  /* Optional: Define font style (e.g., normal, italic) */
    font-display: swap;  /* Optional: Controls how font is displayed while loading */
}

/* font header */
@font-face {
    font-family: 'Mackinac'; /* A name you choose for your font */
    src: url('./assets/font/Fontspring-DEMO-P22Mackinac-Medium.otf') format('woff2');
    font-weight: normal; /* Optional: Define font weight (e.g., normal, bold, 400, 700) */
    font-style: normal;  /* Optional: Define font style (e.g., normal, italic) */
    font-display: swap;  /* Optional: Controls how font is displayed while loading */
}

/* font header lite */
@font-face {
    font-family: 'Mackinac-Lite'; /* A name you choose for your font */
    src: url('./assets/font/Fontspring-DEMO-P22Mackinac-Book.otf') format('woff2');
    font-weight: normal; /* Optional: Define font weight (e.g., normal, bold, 400, 700) */
    font-style: normal;  /* Optional: Define font style (e.g., normal, italic) */
    font-display: swap;  /* Optional: Controls how font is displayed while loading */
}

/* -- set global font style */
*{
    font-family: Fricolage-Grotesque ;
}

/* -- set heading font */
h1{
    font-family: Mackinac;
}
h2{
    font-family: Mackinac;
}
h3{
    font-family: Mackinac;
}
h4{
    font-family: Mackinac;
}
h5{
    font-family: Mackinac;
}
h6{
    font-family: Mackinac;
}


/* navbar */


/* hero */
.hero-background{
    background-image: url(/app/assets/photo/hero.avif);
    width: 100%;
    background-size: 100vw auto;
    background-position: bottom;
    background-repeat: no-repeat;
}

/* section 1 */
.background-grid{
    background: linear-gradient(
        /* to bottom , */
        180deg,
        #ffffff 0px,
        hsla(311, 100%, 60%, 0.27) 10px,
        hsla(311, 100%, 60%, 0.25) 10px,
        hsla(311, 100%, 60%, 0.20) 200px,
        #ffffff 100%
    );
    
    /* background-image: linear-gradient(to bottom, #a091c7b2,white); */
    /* background: linear-gradient(180deg, #ffd6e0 0%, #fff0f5 50%, #ffffff 100%); */
    /* background: linear-gradient(to bottom, hsla(31 100% 60% / 0.93) 10px, hsla(311 100% 60% / 0.40)60%, #ffffff); */

    /* background: radial-gradient(
        circle at center,
        #ffb6c1 0%,          /* উপরের দিকে হালকা গোলাপি 
        #ff69b4 40%,         /* মাঝখানে গাঢ় গোলাপি 
        #ffffff 70%           /* বাইরের দিকে সাদা 
    ); */

  
}


/* section 2 */



/* section 3 */



/* section 4 */



/* section 5 */



/* section 6 */



/* section 7 */




